.game-wrapper {
	width: 800px;
	margin: 0 auto;
}

#game-container {
    outline: 3px solid #000;
    height: 600px;
    margin: 50px 15px 20px 15px;
}

.game-panel {
	
}

.game-panel .bonuses {
	padding-top: 35px;
}

.bonus-box {
	width: 60px;
	height: 60px;
	display: inline-block;
	outline: 2px solid #ccc;
}

.player1 .bonus-box {
	margin-right: 10px;
}

.player2 .bonus-box {
	margin-left: 10px;
}